.header {
	background-color: white;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	padding: 8px 16px;
	position: fixed;
	top: 0;
	width: 100%;
}

.header .container {
	display: flex;
  justify-content: space-between;
}

.header__logo {
	height: 40px;
}

.header__icon {
	font-size: 1.6rem;
}