.stories {
  padding: 16px 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.stories__container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.user__thumb {
  border-radius: 100%;
  display: flex;
  overflow: hidden;
}

.stories .user__thumb {
  align-items: center;
  height: 78px;
  justify-content: center;
  margin: 0 8px;
  width: 78px;
}

.user__thumb__wrapper {
  border: 2px solid white;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
}

.stories .user__thumb__wrapper {
  height: 72px;
  width: 72px;
}

.user__thumb img {
  height: 100%;
  width: 100%;
}

.user__thumb--hasNew {
  background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}